**/*.parquet
**/*.log
.DS_Store
.vscode
**/.tmp

serenedb/serened_data/
serenedb/serened.pid
serenedb/serenedb_metrics.txt

elastic/es-data/
elastic/es-data-100m/
elastic/es-smoke/

opensearch/os-data/
opensearch/os-smoke/

parade/paradedb_data

postgres/postgres_data

arangodb/arango_data

**/__pycache__/
.venv
notes.md
launch_all.sh
tiger/tiger_data/
tiger-columnstore/tiger_data/








elastic-columnar/es-data/
elastic-columnar/es-smoke/

cratedb/crate_data/






clickhouse/clickhouse
clickhouse/clickhouse_data/
clickhouse/*.log
clickhouse/.clickhouse.pid
