

**/*.parquet
**/*.log
.DS_Store
.vscode
**/.tmp

serenedb/serened_data/
serenedb/serened.pid

elastic/es-data/
elastic/es-smoke/

opensearch/os-data/
opensearch/os-smoke/

parade/paradedb_data

postgres/postgres_data

# vector track
pgvector/pgvector_data
**/results-vector/*.partial.json
**/results-vector/*.build.log
**/vec_work/
**/*.npy

**/__pycache__/
.venv
