

**/*.parquet
**/*.log
.DS_Store
.vscode
**/.tmp

serenedb/serened_data/
serenedb/serened.pid

elastic/es-data/
elastic/es-smoke/

opensearch/os-data/
opensearch/os-smoke/

parade/paradedb_data

postgres/postgres_data

**/__pycache__/
.venv
